<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="MIS_1.Properties.Settings.ProjectConnectionString"
            connectionString="Data Source=(local);Initial Catalog=Project;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>